.uiverse-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: white;
  background: linear-gradient(to right, #3b82f6, #2563eb); 
  overflow: hidden;
}

.uiverse-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.uiverse-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.uiverse-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.4s;
}

.uiverse-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
